* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* utilitis end */

.navbar {
    height: 75px ;
}
/* header */

#main_wrapper {
    background-color: aqua;
    height: 100%;
    width: 100%;
}

.sidebar_sm {
    background-color: black;
    float: left;
    width: 65px;
    height: 100%;
}


@media screen and (min-width: 991px) {
    .sidebar {
        background-color: rgb(159, 37, 37);
        float: left;
        width: 150px;
        height: 100%;
    }
}