* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  body {
    height: 700px;
  }

  .nav {
    justify-content: space-between;
  }
/* utilitis end */

.navbar {
    height: 75px ;
}

.navbar_row {
    height: 75px;
}

.icon a {
    text-decoration: none;
}

.icon button {
    background-color: white;
    border: 0px;
}

.icon_hid i {
    display: none;
}

.icon_bell i {
    color: orange;
    padding-top: 0.6rem;
}

/* header nav end */

#main_wrapper {
    
    height: calc(100vh - 75px)
}

/* Layout end */
.sidebar_sm {
    background-image: url(../img/sidebar-bg.png);
    float: left;
    display: inline;
    width: 65px;
    height: 100%;
}

.sidebar_sm {
    background-color: rgb(33, 33, 69);
}

 .sidebar_sm .row {
    display: flex;
    align-content: space-between;
    height: 100%;
}

.sidebar_sm li {
    padding-top: 1rem;
}

.sidebar_sm  span {
    float: right;
    color: white;
    margin-left: 0.5rem;
}

.sidebar_sm i {
    color: white;
}

.ul_sidebar_top, .ul_sidebar_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

/* Sidebar end */

.banner_blue {
    background-color: rgb(92, 136, 232);
}

.boolean {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-start;
    color: white;
}

.boolean p {
   text-align: start;
   font-size: 0.5rem;
   background-color: blue;
   border-radius: 15px;
   margin-left: 0.4rem;
   padding: .2rem .4rem;
}

.boolean span {
    margin-top: -0.3rem;
    padding-left: .2rem;
    
}

.banner_blue ul {
    list-style: none;
}

.boolean_top {
    display: flex;
    align-items: baseline;
}

.boolean_bottom {
    display: flex;
}

.boolean_hidden_sm {
    display: none;
}

.studenti_online {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.studenti_online > p {
    font-size: 0.7rem;
}

.nuovo_studente {
    color: white;
    font-size: 0.7rem;
    padding-top: 1rem;
}

.nuovo_studente  button {
    background-color: rgb(92, 136, 232);
    border: 1px solid white;
}
/* Banner blue */

.check_box {
    padding: 1rem;
    margin-left: 1rem;
}
/* offcanvas end */
/* Banner blue end */

.container_main {
    height: 100%;
    overflow-y: auto;
   
}

.card_classi {
   
    height: 520px;
}

/* Main end */
/* card classi start */
.card_classi_haeder {
    background-color: aliceblue;
}

.card_classi button {
    background-color: white;
    border: 1px solid lightgray;
    
}

.card_classi i {
    color: gray;
}
/* card classi end */
/* card f.a.q. start */
.card_faq_header {
    background-color: aliceblue;
}
/* card f.a.q. end */

/* card todo start */
.card_todo_header {
    background-color: aliceblue;
}

.card_todo_container {
    margin: 0.5rem;
    border: 1px solid lightgrey ;
    border-radius: 5px;
}

.todo_second {
    border-top: 1px solid lightgrey ;
    border-bottom: 1px solid lightgrey ;
    gap: 1rem;
}

/* card todo end */



@media screen and (min-width:767px) {

    .th_hidden {
        display: block;
    }
    
} 
    


@media screen and (min-width: 991px) {

    .icon_hid i {
        color: grey;
        display: block;
        padding: 0.5rem;
    }
    /* Navbar end */
    .sidebar_sm {
        background-color: rgb(33, 33, 69);
        float: left;
        width: 150px;
        height: 100%;
    }

    .cb_hover:hover {
        background-color: lightgray;
        padding: 0rem 1rem;
    }

    .ul_sidebar_top, .ul_sidebar_bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        padding-left: 0;
    }
    /* Sidebae end */

    .nuovo_studente {
        color: white;
        font-size: 0.7rem;
        padding-top: 1rem;
        padding-left: 10rem;
    }

    .boolean_hidden_bg {
        display: none;
    }

    .boolean_hidden_sm {
        display: block;
    }
    /* Banner blue end */
    
    
}